* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.icon-span img {
    width: 25px;
}

.custom-icon {
    display: flex;
    justify-content: space-between;
}

.custom-icon img {
    width: 35px;
    height: 35px;
}

.fe-male-card {
    background: linear-gradient(45deg,#e83e8c,#ff84bc);
}

.male-card {
    background: linear-gradient(45deg,#2962FF,#8eacff);
}

.background-dark-custom {
    background-image: linear-gradient(180deg,#858796 10%,#37383e 100%);
}

.single-sample-form-div {
    padding: 0 10px;
    position: relative;
    border-radius: 5px;
    margin: 10px 0;
    transition: all 0.5s;
    cursor: pointer;
    padding-top: 15px;
}

.single-sample-form-div:hover {
    background: #eef5f9;
}

.sample-del {
    background: #f62d51;
    color: #fff;
    padding: 4px 9px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    box-shadow: 0px 1px 3px #7e7c7c8a;
    top: -13px;
    right: -10px;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s;
}

.single-sample-form-div:hover .sample-del {
    opacity: 1;
}

.gender-result i {
    font-size: 13px;
}

.gender-result.male i {
    color: #2962FF;
}

.gender-result.female i {
    color: #e83e8c;
}

.middle-aligned th,.middle-aligned td {
    vertical-align: middle;
    text-align: center;
}


/* PDF Css */

.pdf-wrapper {
    width: 1100px;height: auto;color: #000 !important;
}

.pdf-wrapper .table-outer table {
    width: 940px;border-spacing: 0px;
}

.pdf-wrapper .table-outer {
    margin: 80px;
}

.pdf-wrapper .sample-row td {
    height: 30px;border-right: 2px solid;
}

.pdf-wrapper .sample-row td:first-child {
    width: 40px;
}

.pdf-wrapper .sample-row td:last-child {
    border: 0;
}

.pdf-wrapper td {
    padding: 0;
}

.pdf-wrapper .noborder td {
    border: 0;
    border-bottom: 2px solid;
}

.pdf-wrapper .table-outer {
    border: 2px solid;
    margin: 80px;
    overflow: hidden;
}

.pdf-wrapper .sample-row.heading td {
    border-bottom: 2px solid;
}

.pdf-wrapper .logo-row {
    background-color: #f2bf11;
    padding: 20px;
}

.pdf-wrapper .logo-row td:first-child {
    width: 200px;
}

.pdf-wrapper .logo-row td {
    padding: 20px;
}

.pdf-wrapper .logo-row img {
    background-color: #fff;
    width: 100%;
}

.pdf-wrapper .text-top {
    font-size: 35px;
}

.pdf-wrapper .text-bottom {
    font-size: 18px;
    font-family: sans-serif;
}

.pdf-wrapper .align-center {
    text-align: center;
}

.pdf-wrapper .submiter {
    background-color: #ccfdcc;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

.pdf-wrapper .submiter span {
    padding: 10px;
    display: block;
}

.pdf-wrapper .noborder-f td {
    padding: 5px;
    text-align: left;
}

.pdf-wrapper .dna-report {
    background: #67ccfe;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.pdf-wrapper .dna-report td {
    padding: 10px;
    border-top: 2px solid;
}

.pdf-wrapper .sample-row.heading {
    background: #ccfecc;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}

.pdf-wrapper .bottom-text {
    padding: 25px 10px;
    text-align: center;
    border-top: 2px solid;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.pdf-wrapper .pad-f td {
    padding: 5px;
}

.pdf-wrapper .sample-row td{
    padding: 10px;
}

.icon-img img {
    width: 24px;
    padding-left: 0;
    margin-left: 5px;
}

.icon-img {
    padding-right: 11px;
}

.delete-sample-search {
    cursor: pointer;
}